*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Navbar
{
  background-color: rgb(131, 0, 0);
  font-size: 1.5rem;
  padding: 20px;
  width: 100%;
  color: white;
}

.Card
{
  border: 1px solid gainsboro;
  text-align: center;
  padding: 20px;
  position: relative;
  top: 1rem;
}

.Grid
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
}

.Container
{
  max-width: 1300px;
  padding: 0 2rem;
}

.Form input 
{
  width: 50%;
  padding: 10px;
  margin-top: 25px;
  border: 0px solid white;
}

.Clear
{
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
  border: 0px solid black;
  margin-top: 10px;
}

.Alert
{
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
  border: 0px solid black;
  margin-top: 10px;
  text-align: center;
  padding-top:10px;
}